%h1 Listing products

-# %table
-# %thead
-#   %tr
-#     %th Name
-#     %th Description Price
-#     %th Url
-#     %th
-#     %th
-#     %th

-# %tbody
-#   - @products.each do |product|
-#     %tr
-#       %td= product.name
-#       %td= product.description
-#       %td= product.price
-#       %td= product.url
-#       %td= link_to 'Show', product
-#       %td= link_to 'Edit', edit_product_path(product)
-#       %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }
-#   %br
.row
  - @products.each do |product|
    .col-sm-4
      .card{}
        %img.card-img-top{:style => "width: 18rem; height: 18rem;", :alt => "Card image cap", :src => product.url}
        .card-body
          %h5.card-title= product.name
          %p.card-text= product.description
          %p.card-text= product.price
          %button.btn.btn-success.text-white= link_to 'Show', product


%br


%br
%br
= link_to 'New Product', new_product_path
